# =========================
# DATA
# =========================
data/
*.csv
*.zip

# =========================
# MODELE
# =========================
*.pt
*.pth
*.ckpt
*.model
*.bin
*.pkl
*.joblib

models/

# =========================
# NOTEBOOK CHECKPOINTS
# =========================
.ipynb_checkpoints/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
.env/
.venv/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# LOGS / CACHE
# =========================
logs/
*.log
.cache/
